.bhx{
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.bhx-logo{
    background-image: url(icon/bhx-logo.png);
}

.bhx-search{
    background-image: url(icon/bhx-search.png);
}

.bhx-toggle{
    background-image: url(icon/bhx-toggle.png);
}

.bhx-cart{
    background-image: url(icon/bhx-cart.png);
}

.bhx-navmenu{
    background-image: url(icon/bhx-navmenu.png);
}