.bhx{
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    vertical-align: middle;
}

.bhx-logo{
    background-image: url(icon/bhx-logo.png);
}

.bhx-search{
    background-image: url(icon/bhx-search.png);
}

.bhx-toggle{
    background-image: url(icon/bhx-toggle.png);
}

.bhx-cart{
    background-image: url(icon/bhx-cart.png);
}

.bhx-navmenu{
    background-image: url(icon/bhx-navmenu.png);
}

.bhx-sship{
    background-image: url(icon/bhx-sship.png);
}

.bhx-swap{
    background-image: url(icon/bhx-swap.png);
}

.bhx-call{
    background-image: url(icon/bhx-call.png);
}

.bhx-tgdd{
    background-image: url(icon/bhx-tgdd.png);
}

.bhx-dmx{
    background-image: url(icon/bhx-dmx.png);
}

.bhx-maiam{
    background-image: url(icon/bhx-maiam.png);
}

.bhx-stores{
    background-image: url(icon/bhx-stores.png);
}

.bhx-bct{
    background-image: url(icon/bhx-bct.png);
}

.dmca-badge{
    background-image: url(icon/dmca-badge.png);
}

.bhx-feedback{
    background-image: url(icon/bhx-feedback.png);
}

.bhx-radio{
    background-image: url(icon/check-0.png);
}

.bhx-check-1{
    background-image: url(icon/check-1.png);
}


