@media screen and (max-width: 700px){
    .colmenu{
        display: none;
        width: 60%;
        top: 0px;
        left: 0px;
    }

    .colcontent .rowdetail{
        flex-wrap: wrap;
    }
    
    .slide-home {
        width: 100%;
    }
    
    .infosell {
        width: 100%;
    }
    
    .colcontent .rowinfo{
        flex-wrap: wrap;
    }
    
    .rowinfo .leftcolrelate{
        width: 100%;
    }
    
    .rowinfo .rightcolrelate{
        display: none;
    }
    #owl-dots{
        display: none;
    }

    .location-container .prov_lst {
        position: absolute;
        overflow: visible;
        border-radius: 2px;
        background-color: #e8e8e8;
        padding: 10px 15px;
        box-shadow: 0 0 5px rgba(0,0,0,.5);
        line-height: 22px;
        top: calc(100% + 7px);
        color: #333;
        font-size: 15px;
        z-index: 1;
        width: 189%;
        max-width: 500px;
        height: auto;
        margin: auto;
        text-align: left;
        transform: translateX(30%);
        display: none;
    }
}

