/* Style cho các element */
*{
    box-sizing: border-box;
    margin: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}

header{
    position: fixed;
    top: 0px;
    background-color: #008848;
    width: 100%;    /*Theo body*/
    min-height: 50px;
    padding: 0 5.5%;
    z-index: 1;
}

section{
    background-color: #e9edf0;
    width: 100%;    /*Theo body*/
    min-height: 1000px;
    margin-top: 50px;
    padding: 0 5.5%;    /*Theo body*/
}

.colcontent{
    margin-left: 20%;   /*Theo section*/
    width: 80%;     /*Theo section*/
    height: 1000px;
    padding-top: 10px;
    padding-left: 10px;
}

.groupcate{
    width: 100%;    /*Theo colcontent*/
}

.groupfeature{
    width: 100%;    /*Theo colcontent*/
}

.homenews{
    width: 100%;    /*Theo colcontent*/
}

footer{
    background-color: #e9edf0;
    width: 100%;    /*Theo body*/
    min-height: 300px;
    padding: 0 5.5%;    /*Theo body*/
}

footer>div{
    min-height: 300px;
    margin-left: 20%;   /*Theo footer*/
    width: 80%;     /*Theo footer*/
    padding-left: 10px;
    padding-top: 10px;
}

/* Chưa cần làm bây giờ */
.stickyfeedback{
    position: fixed;
}

#back-top{
    position: fixed;
}


