/* Style cho các element */
*{
    box-sizing: border-box;
    margin: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}

header{
    position: fixed;
    top: 0px;
    background-color: #008848;
    width: 100%;    /*Theo body*/
    min-height: 50px;
    padding: 0 5.5%;
    z-index: 1;
}

section{
    background-color: #e9edf0;
    width: 100%;    /*Theo body*/
    min-height: 1000px;
    margin-top: 50px;
    padding: 0 5.5%;    /*Theo body*/
}

.colcontent{
    margin-left: 20%;   /*Theo section*/
    width: 80%;     /*Theo section*/
    height: 10000px;
    padding-top: 10px;
    padding-left: 10px;
}

.groupcate{
    width: 100%;    /*Theo colcontent*/
    margin: 10px 0;
    background-color: #fff;
}

.groupname{
    padding: 10px;
    font-weight: 600;
}

.listgroup{
    padding: 5px;
}

.listgroup a{
    width: 10%;     /*Theo groupcate*/
}

.listgroup img{
    display: block;
    width: 45px;
    height: 45px;
    margin: 0 auto 5px;
    border-radius: 50px;
}

.listgroup span{
    display: block;
    width: 100%;    /*Theo listgroup a*/
    text-align: center;
    font-size: 13px;
    color: #0064c2;
}

.groupfeature{
    width: 100%;    /*Theo colcontent*/
    margin: 10px 0;
    background-color: #fff;
}

.groupfeature>h2{
    background-color: #e9edf0;
    position: relative;
    padding: 5px 7px 5px;
    text-transform: uppercase;
    font-size: 14px;
}

.groupfeature>h2::before{
    content: "";
    border-left: 4px solid #008848;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;   /*Theo groupfeature>h2*/
}

ul{
    flex-wrap: wrap;
}

.groupfeature .product>a{
    display: block;
    padding: 10px;
}

.groupfeature ul>li{
    padding-bottom: 60px;
    width: 25%;     /*Theo groupfeature*/
    position: relative;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.groupfeature .product .buy{
    overflow: hidden;
    font-size: 13px;
    color: #008848;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0;
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 10px;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #008848;
}

.groupfeature .product .boximg{
    position: relative;
}

.product .boximg img{
    width: 160px;
    height: 160px;
    margin: 0 auto;
    display: block;
}

.boximg .boxlabel{
    position: absolute;
    left: 0;
    bottom: 0;
    border: 1px solid #c7c5c5;
    border-radius: 4px;
    color: #444;
    font-weight: bold;
    font-size: 12px;
    padding: 2px;
}

.product .product-name{
    line-height: 1.3em;
    font-size: 13px;
    color: #333;
    margin: 5px 0;
}

.product .removepoint>span{
    font-size: 12px;
    color: #666;
}

.product .removepoint::before{
    content: '•';
    color: #999;
    font-size: 12px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
}

.product .price>strong{
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    color: #b10e0e;
    font-weight: normal;
}

.product .price>span{
    font-size: 13px;
    color: #757575;
    text-decoration: line-through
}

.product .price>label{
    vertical-align: middle;
    font-size: 12px;
    color: #fff;
    font-weight: 600;
    border-radius: 3px;
    background: #de2000;
    width: 32px;
    height: 20px;
    line-height: 20px;
    text-align: center;
}

.product .gift{
    margin-top: 10px;
}

.product .gift>img{
    width: 36px;
    height: 36px;
}

.product .gift>span{
    font-size: 12px;
    margin-left: 3px;
    color: #626262;
    vertical-align: top;
}

.groupfeature .viewmore{
    font: 14px/18px Helvetica,Arial,sans-serif;
    display: block;
    overflow: hidden;
    line-height: 30px;
    color: #0064c2;
    text-align: center;
    padding: 10px 0;
}

.viewmore::after{
    content: '';
    border-top: 5px solid #0064c2;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    display: inline-block;
    margin-left: 5px;
    position: relative;
    top: -2px;
}

.homenews{
    width: 100%;    /*Theo colcontent*/
    background: #fff;
}

.hometitle a{
    display: block;
    overflow: hidden;
    padding: 10px;
    color: #288ad6;
    font-weight: 600;
    background: #fff;
    margin: 0;
    font-size: unset;
    border: 0;
    text-transform: uppercase;
    font: 14px/18px Helvetica,Arial,sans-serif;;
    font-weight: 600;
}

.hometitle+div{

}

.homenews .newvideo{
    width: 60%;     /*Theo homenews*/
    padding: 0 10px;
}

.newvideo iframe{
    width: 100%;
    height: 326px;
}

.homenews .newlist{
    width: 40%;     /*Theo homenews*/
}

footer{
    background-color: #e9edf0;
    width: 100%;    /*Theo body*/
    min-height: 300px;
    padding: 0 5.5%;    /*Theo body*/
}

footer>div{
    min-height: 300px;
    margin-left: 20%;   /*Theo footer*/
    width: 80%;     /*Theo footer*/
    padding-left: 10px;
    padding-top: 10px;
}

/* Chưa cần làm bây giờ */
.stickyfeedback{
    position: fixed;
}

#back-top{
    position: fixed;
}