/* Style cho các element */
*{
    box-sizing: border-box;
    margin: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}

header{
    position: fixed;
    top: 0px;
    background-color: #008848;
    width: 100%;    /*Theo body*/
    min-height: 50px;
    padding: 0 5.5%;
    z-index: 1;
}

.tophead{
    margin-left: 20%;       /*Theo header*/
    width: 80%;     /*Theo header*/
    min-height: 50px;
}

.logo{
    width: 20%;     /*Theo tophead*/
    min-height: 50px;
    align-items: center;
    justify-content: flex-end;
}

.logo>i{
    width: 170.75px;
    height: 35px;
}

.mainsearch{
    width: 40%;     /*Theo tophead*/
    min-height: 50px;
    align-items: center;
    justify-content: center;
}

.mainsearch>div{
    width: 95%;     /*Theo .mainsearch*/
    height: 35px;
    position: relative;
}

.mainsearch input{
    width: 100%;    /*Theo .mainsearch>div*/
    height: 100%;   /*Theo .mainsearch>div*/
    text-indent: 10px;
    border-radius: 4px;
    border: 0;
    outline: none;
}

.mainsearch button{
    background-color: #ffffff;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;   /*Theo .mainsearch>div*/
    width: 10%;     /*Theo .mainsearch>div*/
    border-radius: 4px;
    border: 0;
    outline: none;
    align-items: center;
    justify-content: center;
}

.mainsearch button>i{
    width: 18px;
    height: 18px;
}

.hiscart{
    width: 40%;     /*Theo tophead*/
    min-height: 50px;
    align-items: center;
    color: #fff;
    font-size: 12px;
}

.hiscart>div{
    height: 36px;
    width: 62.5%;    /*Theo hiscart*/
}

.location-container{
    width: 40%;     /*Theo hiscart>div*/
    height: 100%;   /*Theo hiscart>div*/
    align-items: center;
    justify-content: flex-end;
}

.location-container>div{
    width: 80%;     /*Theo location-container*/
    height: 100%;    /*Theo location-container*/
    background-color: #057541;
    padding: 4px;
}

.location-container>div>div{
    width: 100%;    /*Theo .location-container>div*/
    height: 50%;   /*Theo .location-container>div*/
    position: relative;
}

.location-container .shipto{
    width: 80%;     /*Theo .location-container>div>div*/
    height: 100%;   /*Theo .location-container>div>div*/
    text-align: center;
    font-size: 11px;
}

.location-container>div>div>i{
    width: 15px;     /*Theo .location-container>div>div*/
    height: 15px;   /*Theo .location-container>div>div*/
}

/* Chỗ này cần xem xét */
.location-container i::after{
    position: absolute;     /*Theo location-container>div>div*/
    content: "";
    width: 0;
    height: 0;
    border-top: 13px solid #fff;
    border-left: 7.5px solid transparent;
    border-right: 7.5px solid transparent;
}
/* Hết xem xét */

.location-container .current-locate{
    text-align: center;
    font-size: 12px;
    font-weight: 600;
}

.histories{
    width: 60%;   /*Theo hiscart>div*/
    height: 100%;   /*Theo hiscart>div*/
    color: #fff;
    text-align: center;
    line-height: 14px;
    padding: 4px;
}

.temcart{
    background-color:rgba(19,18,24,0.16);
    width: 37.5%;   /*Theo hiscart*/
    height: 100%;   /*Theo hiscart*/
    color: #fff;
    align-items: center;
    justify-content: center;
}

.temcart>div>i{

}

.colmenu{
    position: fixed;
    background-color: #fff;
    height: 90vh;
    width: 17.8%;   /*Theo body*/
    top: 12px;
    left: 5.5%;     /*Theo body*/
    border-radius: 4px 4px 0 0;
}

.colmenu>span{
    height: 38px;  
    width: 100%;    /*Theo colmenu*/
    border-bottom: 1px solid #e5e5e5;
    padding: 0 10px;
    align-items: center;
    justify-content: flex-start;
}

.colmenu i{
    height: 21px;
    width: 21px;
}

.colmenu p{
    text-transform: uppercase;
    padding-left: 10px;
}

.colmenu-ul{
    width: 100%;    /*Theo colmenu*/
    height: 100%;   /*Theo colmenu*/
    padding-inline-start: 0px;
    flex-direction: column;
    position: relative;
}

.colmenu-ul>li{
    display: inline-block;
    width: 100%;    /*Theo colmenu-ul*/
    height: 7%;    /*Theo colmunu-ul*/
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    border-bottom: 1px solid #e5e5e5;
}

/* Chỗ này cầm xem xét */
.colmenu-ul>li::after{
    position: absolute;     /*Theo .colmenu-ul*/
    content: "";
    width: 0;
    height: 0;
    border-top: 5px solid #979797;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    right: 14px;
}
/* Kết thúc xem xét */

section{
    background-color: #e9edf0;
    width: 100%;    /*Theo body*/
    min-height: 1000px;
    margin-top: 50px;
    padding: 0 5.5%;    /*Theo body*/
}

.colcontent{
    margin-left: 20%;   /*Theo section*/
    width: 80%;     /*Theo section*/
    height: 1000px;
    padding-top: 10px;
    padding-left: 10px;
}

.slide-home{
    width: 100%;    /*Theo colcontent*/
    height: 200px;
    position: relative;
}

.slide-home button{
    outline: none;
    cursor: pointer;
}

.owl-stage-outer{
    width: 100%;    /*Theo slide-home*/
    height: 100%;   /*Theo slide-home*/
}

.owl-nav{
    
}

.owl-prev,
.owl-next{
    position: absolute;
    top: 50%;   /*Canh theo slide-home*/
    transform: translateY(-50%);
    display: inline-block;
    padding: 0;
    background-color: transparent;
}

.owl-prev{
    margin-left: 10px;     /*Canh theo slide-home*/
    content: "";
    width: 0;
    border-width: 10px;
    border-style: solid;
    border-color: transparent #fff transparent transparent;
}

.owl-next{
    right: 0;       /*Canh theo slide-home*/
    margin-right: 10px;     /*Canh theo slide-home*/
    content: "";
    width: 0;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent transparent #fff;
}

.owl-dots{
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
}

.owl-dots>button{
    display: inline-block;
    border: 0;
    padding: 0;
    background-color: transparent;
}

.owl-dots>button:hover span{
    background-color: #03763e;
}

.owl-dots span{
    display: block;
    width: 7px;
    height: 7px;
    margin: 5px 6px;
    background-color: #d6d6d6;
    border-radius: 30px;
}

.groupcate{
    width: 100%;    /*Theo colcontent*/
}

.groupfeature{
    width: 100%;    /*Theo colcontent*/
}

.homenews{
    width: 100%;    /*Theo colcontent*/
}

footer{
    background-color: #e9edf0;
    width: 100%;    /*Theo body*/
    min-height: 300px;
    padding: 0 5.5%;    /*Theo body*/
}

footer>div{
    min-height: 300px;
    margin-left: 20%;   /*Theo footer*/
    width: 80%;     /*Theo footer*/
    padding-left: 10px;
    padding-top: 10px;
}

/* Chưa cần làm bây giờ */
.stickyfeedback{
    position: fixed;
}

#back-top{
    position: fixed;
}


