.tophead{
    margin-left: 20%;       /*Theo header*/
    width: 80%;     /*Theo header*/
    min-height: 50px;
}

.logo{
    width: 20%;     /*Theo tophead*/
    min-height: 50px;
    align-items: center;
    justify-content: flex-end;
}

.logo>i{
    width: 170.75px;
    height: 35px;
}

.mainsearch{
    width: 40%;     /*Theo tophead*/
    min-height: 50px;
    align-items: center;
    justify-content: center;
}

.mainsearch>div{
    width: 95%;     /*Theo .mainsearch*/
    height: 35px;
    position: relative;
}

.mainsearch input{
    width: 100%;    /*Theo .mainsearch>div*/
    height: 100%;   /*Theo .mainsearch>div*/
    text-indent: 10px;
    border-radius: 4px;
    border: 0;
    outline: none;
}

.mainsearch button{
    background-color: #ffffff;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;   /*Theo .mainsearch>div*/
    width: 10%;     /*Theo .mainsearch>div*/
    border-radius: 4px;
    border: 0;
    outline: none;
    align-items: center;
    justify-content: center;
}

.mainsearch button>i{
    width: 18px;
    height: 18px;
}

.hiscart{
    width: 40%;     /*Theo tophead*/
    min-height: 50px;
    align-items: center;
    color: #fff;
    font-size: 12px;
}

.hiscart>div{
    height: 36px;
    width: 62.5%;    /*Theo hiscart*/
}

.location-container{
    width: 40%;     /*Theo hiscart>div*/
    height: 100%;   /*Theo hiscart>div*/
    align-items: center;
    justify-content: flex-end;
}

.location-container>div{
    width: 80%;     /*Theo location-container*/
    height: 100%;    /*Theo location-container*/
    background-color: #057541;
    padding: 4px;
}

.location-container>div>div{
    width: 100%;    /*Theo .location-container>div*/
    height: 50%;   /*Theo .location-container>div*/
    position: relative;
}

.location-container .shipto{
    width: 80%;     /*Theo .location-container>div>div*/
    height: 100%;   /*Theo .location-container>div>div*/
    text-align: center;
    font-size: 11px;
}

.location-container>div>div>i{
    width: 15px;     /*Theo .location-container>div>div*/
    height: 15px;   /*Theo .location-container>div>div*/
}

/* Chỗ này cần xem xét */
.location-container i::after{
    position: absolute;     /*Theo location-container>div>div*/
    content: "";
    width: 0;
    height: 0;
    border-top: 13px solid #fff;
    border-left: 7.5px solid transparent;
    border-right: 7.5px solid transparent;
}
/* Hết xem xét */

.location-container .current-locate{
    text-align: center;
    font-size: 12px;
    font-weight: 600;
}

.histories{
    width: 60%;   /*Theo hiscart>div*/
    height: 100%;   /*Theo hiscart>div*/
    color: #fff;
    text-align: center;
    line-height: 14px;
    padding: 4px;
}

.temcart{
    background-color:rgba(19,18,24,0.16);
    width: 37.5%;   /*Theo hiscart*/
    height: 100%;   /*Theo hiscart*/
    color: #fff;
    align-items: center;
    justify-content: center;
}

.temcart>div{
    align-items: center;
    justify-content: center;
}

.temcart>div>i{
    width: 24px;
    height: 24px;
    margin-left: 10px;
}